<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>平台</title>
    <link href="<%= htmlWebpackPlugin.options.url %>static/live/css/reset-pc.css" rel="stylesheet" type="text/css">
    <script src="<%= htmlWebpackPlugin.options.url %>static/jquery/jquery.min.js"></script>
  	<script src="<%= htmlWebpackPlugin.options.url %>static/blueimp-file-upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="<%= htmlWebpackPlugin.options.url %>static/blueimp-file-upload/js/jquery.fileupload.js"></script>
    <script src="<%= htmlWebpackPlugin.options.url %>static/echarts/echarts.min.js"></script>


    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.url %>static/plupload/js/plupload.full.min.js"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.url %>static/qiniu/dist/qiniu.min.1518052912438.js"></script>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
